/* GLOBAL */
$primary: #3443c9
$text: #353535
$max-width: 85rem
$padding: 0 3rem
$border-radius: 2.5px
$pattern: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M3.25 10h13.5M10 3.25v13.5' transform='translate(5,0)' stroke-linecap='square' stroke-width='0.5' stroke='hsla(234, 59%, 62%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")

/* HEADER */
$header-height: 4rem

/* FOOTER */
$footer-height: 3rem

/* COLORS */
$color-success: #27ae60
$color-warning: #e67e22
$color-danger: #c0392b